# Environment variables
.env

# Python cache and byte-code
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
venv/
ENV/
env/
.env/

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
